body {
  border: 1px solid #000;
  background: linear-gradient(
      180deg,
      rgba(255, 1, 1, 0.2) 0.57%,
      rgba(47, 47, 47, 0.2) 27.6%
    ),
    #0f0f0f;
  min-height: 99vh;
  font-family: Arial, Helvetica, sans-serif;
}


button {
  border: 0;
  transition: 0.3s transform;
  transform: scale(1);
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
button:disabled {
  cursor: none;
}

body,
html,
div {
  margin: 0;
  padding: 0;
}
