.connect {
    margin: 0 auto;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 22px;

}

.connect button {
    margin-bottom: 20px;
}

.error, .description {
    padding: 20px;
    color: #aaa;
}