.takePhoto {
  background-color: transparent;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 2%;
}

.webcam {
}

.inactiveMinting::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: transform 2s ease-in;
  background: linear-gradient(
    180deg,
    #03ff1c 0%,
    #a8ff38 26.46%,
    #619b8f 49.42%,
    #004bff 73.93%,
    #eb00ff 100%
  );
  content: " ";
  z-index: 1;
}
.inactiveMinting::after {
  transform: translateY(100vh);
}
.minting::after {
  transform: translateY(0);
}
.inactiveMinting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  overflow: hidden;
}

.message {
  font-size: 45px;
  z-index: 10;
  text-align: center;
  filter: invert(1);
  mix-blend-mode: difference;
  font-weight: 800;
}

.webcam video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.switch {
  position: absolute;
  z-index: 4;
  opacity: 0.5;
  right: 2%;
  bottom: 2%;
  background-color: transparent;
}

.zorb {
  position: absolute;
  z-index: 4;
  width: 32px;
  height: 32px;
  right: 200px;
  bottom: 2%;
  left: 2%;
  transform: scale(1);
  transition: transform 0.5s ease-in;
}

.zorb:hover {
  transform: scale(1.2);
}
